
/* register */
.Register-title{
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    color: #24262b;
    padding-left: 2rem;
}
.Register-Section{
  background-color: whitesmoke;
  padding-top: 1rem;
  padding-bottom:1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
.Register-input{
    margin-bottom: 15px;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
}
.Register-input span.Register-label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.Register-input input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
.Register-input input:focus{
    border-color: #1f1822;
}
.gender-title{
    font-size: 24px;
    padding-left: 2rem;
}
.Gender-info{
    padding-left: 3rem;
}
.Gender-label{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    color: #24262b;
}
.Gender-label span{
    padding-left: 1rem;
}
.Donate-title{
    font-size: 24px;
    padding-left: 2rem;
}
.Donate-info{
    align-items: center;
}
.Donate-label{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    color: #24262b;
    padding-left: 4rem;
}
.Donate-label span{
    padding-left: 1rem;
    text-align: center;
}
.gender{
    margin-left: 3rem;
}
/* register */

#error-msg{
    font-family: 'Poppins',sans-serif;
}
#icon{
    float: right;
    height: 50px;
    position: relative;
    font-size: 25px;
    padding-top: 10px;
}
#error-msg{
    display: none;
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
}
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* Hide the browser's default checkbox */
  /* .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  } */
  
  /* Create a custom checkbox */
  /* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
   */
  /* On mouse-over, add a grey background color */
  /* .checkbox-label:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  /* .checkbox-label input:checked ~ .checkmark {
    background-color: #2196F3;
  } */
  
  /* Create the checkmark/indicator (hidden when not checked) */
  /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  /* Show the checkmark when checked */
  /* .checkbox-label input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the checkmark/indicator */
  /* .checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */